<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Editar Pessoa</title>
	
	<script>
		function formatar(mascara, documento){
			var i = documento.value.length;
			var saida = mascara.substring(0,1);
			var texto = mascara.substring(i)
			
			if (texto.substring(0,1) != saida){
				documento.value += texto.substring(0,1)
			}
		}
	</script>
	
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper teal lighten-2">
		    	<a href="#" class="brand-logo">Editar Pessoa</a>
		      	<ul id="nav-mobile" class="right hide-on-med-and-down">
		        	<li><a class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Logout</a></li>
		      	</ul>
		      	<ul id="nav-mobile" class="right hide-on-med-and-down">
		        	<li><a href="/index" class="waves-effect waves-light btn"><i class="material-icons left">view_list</i>Lista de Pessoas</a></li>
		      	</ul>
		    </div>
		</nav>
	</header>
	
	<div class="container"><h5>Perfil:</h5></div>
	<form class="container" th:action="@{/update-pessoa/{codigo}(codigo=${pessoa.codigo})}" 
	                        th:object="${pessoa}" method="post">
		Nome:<input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
		CPF: <input type="text" th:field="*{CPF}" id="CPF" placeholder="CPF" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)">	
		Data de Nascimento: <input type="date" th:field="*{data_nascimento}" id="data_nascimento" placeholder="DataNascimento">		
		Sexo: <input type="text" th:field="*{sexo}" id="sexo" placeholder="Sexo">
			
		<h1></h1>
		<div class="row">
			<div class="input-fild col s1.5">
				<button class="waves-effect waves-light btn" type="submit" value="Update Pessoa">Salvar</button>
			</div>
			<div class="input-fild col s10.5">
				<th:block th:include="mensagemValidacao"></th:block>
			</div>
		</div>
	</form>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>	
</html>